*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

body{
    background-color: #c7c7c7;
}

.quizContainer{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0px 0px 10px #737373;
    width: 650px;
}
.question{
    padding: 30px 80px;
}
.questionHeading h2{
    margin-bottom: 7px;
}
.questionHeading{
    margin-bottom: 25px;
}
.questionAnswers input[type=radio]{
    margin-bottom: 15px;
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit input[type=submit]{
    background-color: #428bff;
    color: white;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 18px;
    transition: 0.1s linear;
}
.submit input[type=submit]:hover{
    background-color: #1c64d9;
}